@font-face {
    font-family: MontserratAlternates-Regular; /* Имя шрифта */
    src: url(/static/font/20806.ttf); /* Путь к файлу со шрифтом */
}
* {
    margin: 0;
    padding: 0;
    font-family: MontserratAlternates-Regular;
}
body {
    background: radial-gradient( #f0f0f3 0%, #f0f0f3 85%, rgba(220,220,220,1) 100%);
    /* width: 100vw; */
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}
div.workwindow{
    flex: 0.5 0 auto;
    margin: 1vw;
    background: #f0f0f3;
    border: 0.01rem solid #e0e0e0;
    padding: 2vw;
    border-radius: 1rem;
    height: 100%;
    opacity: 0.6;
    transition: box-shadow 0.5s;
}
div.workwindow:hover{
    box-shadow: -0.5rem -0.5rem 3rem #FFF,
    1rem 1rem 3rem #d3d3d6;
    border: 0.01rem solid #f0f0f3;
    transition: 0.5s ease-out;
    opacity: 1;
}
div.workwindow > div.workwindow-header {
    font-size: 2rem;
}
ul.directory-list {
    list-style: none;
}
ul.directory-list > li > a{
    color: #777;
    text-decoration: none;
    font-size: 1.2rem;
}
ul.directory-list > li > a:hover {
    color: #222;
    transition: color 0.5s;
}
div.workwindow-body{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 85vh;
}
div.workwindow-body > table {
    flex: 4 1 auto;
}
div.workwindow-body > table > tbody > tr:hover {
    background: #e0e0e3;
}

div.workwindow-body > div.toolbar{
    flex: 2 0 auto;
    background: #f0f0f3;
    color: rgb(0,0,0);
    min-height: 70vh;

    border: 0.01rem solid #e0e0e0;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.3rem 0 0 1.3rem;
    transition: box-shadow 0.5s;
    
}
div.workwindow-body > div.toolbar:hover{
    box-shadow: -0.5rem -0.5rem 3rem #FFF,
    1rem 1rem 3rem #d3d3d6;
    border: 0.01rem solid #f0f0f3;
    transition: 0.5s ease-out;
    opacity: 1;
}

div.workwindow-body > div.toolbar > table.toolbar-info-table{
    width: 100%;
}
div.workwindow-body > div.toolbar > p > a,
div.workwindow-body > div.toolbar > p > button{
    text-decoration: none;
    border: 0;
    font-size: 1rem;
}