<div class="sidebar">
    <div class="sidebar-user">
        <p>{{ g.user.first_name }}</p>
        <p>{{ g.user.last_name }}</p>
        <p><a href="{{url_for('logout')}}">Выход</a></p>
    </div>
    <hr>
    <div class="sidebar-list">
        <ul>
            {% if 'permissions_r' in g.user_permissions or 'permissions_rw' in g.user_permissions%}
            <li><a href="#">Права доступа</a></li>
            {% endif %}
            {% if 'users_r' in g.user_permissions or 'users_rw' in g.user_permissions%}
            <li><a href="#">Пользователи</a></li>
            {% endif %}
        </ul>
    </div>
</div>