<div class="sidebar">
    <div class="sidebar-user">
        <p>{{ g.user.first_name }}</p>
        <p>{{ g.user.last_name }}</p>
        <p><a href="{{url_for('logout')}}">Выход</a></p>
    </div>
    <hr>
    <div class="sidebar-list">
        <ul>
            <li><a href="{{ url_for('directory') }}">Справочники</a></li>
            <hr>
            {% if 'permissions_r' in g.user_permissions or 'permissions_rw' in g.user_permissions%}
            <li><a href="{{ url_for('directory_concrete', category='permission') }}">Права доступа</a></li>
            {% endif %}
            {% if 'users_r' in g.user_permissions or 'users_rw' in g.user_permissions%}
            <li><a href="{{ url_for('directory_concrete', category='person') }}">Пользователи</a></li>
            {% endif %}
        </ul>
    </div>
</div>