{% extends 'main.html' %}

{% block workwindow %}
<div class="workwindow">
    <div class="workwindow-header">
        <p>{{ g.recomended["name"] }}</p>
    </div>
    <hr>
    <div class="workwindow-body">
        <table>
            <thead>
                {% for item in g.table_fields %}
                <td>{{ g.naming[item] }}</td>
                {% endfor %}
            </thead>
            <tbody>
                <form id="create-window">
                <tr>
                    <td colspan="{{ g.table_fields.__len__() + 1 }}"><hr></td>
                </tr>
                {% for obj in g.data %}
                <tr>
                    {% for field in g.table_fields %}
                    <td>{{ g.getattr(obj, field, None) }}</td>
                    {% endfor %}
                    <td><input type="radio" name="item" value="{{ g.getattr(obj, 'id', 1) }}"></td>
                </tr>
                {% endfor %}
                </form>
            </tbody>
        </table>
        <div class="toolbar">
            {% if g.toolbar %}
            <p><button form="element-list" formmethod="GET "formaction="./" name="create">Создать</button></p>
            <p><button form="element-list" formmethod="GET" formaction="./">Редактировать</button></p>
            {% endif %}
            {% if g.create_window %}
            <a href="./">Назад</a>
            <p>Создание нового элемента</p>
            <hr>
            <form id="create-window" method="{% if g.edit_window %}patch{% endif %}">
                <table>
                    {% for field in g.recomended["fields"] %}
                    <tr>
                        <td>{{ field["name"] }}</td>
                        <td>
                            <input type="text" name="{{ field['code'] }}"{% if g.edit_window %} value="{{ g.getattr(g.element, field['code']) }}"{% endif %}>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% if g.edit_window %}
                <button form="create-window" formaction="/directory/{{ g.category }}/{{ g.element.id }}/">Сохранить</button>
                {% else %}
                <button form="create-window" formmethod="POST" formaction="/directory/{{ g.category }}/">Сохранить</button>
                {% endif %}
            </form>
            {% endif %}
            {% if g.viewbar %}
            <table>
                {% for field in g.fields %}
                <tr>
                    <td style="border: 1px solid rgba(59,59,121,1);" >{{ g.naming[field] }}</td><td style="border: 1px solid rgba(59,59,121,1);">{{ g.getattr(g.element, field, "") }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock workwindow %}